@import '../../scss/variables';

.drawer-dropdown-container {
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;

  .drawer-dropdown {
    margin-top: 0.3rem;
    list-style: none;
    padding: 0;
    width: fit-content;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    font-size: 0.875rem;
    font-weight: 400;

    .drawer-dropdown-list {
      margin: 0;
      .drawer-dropdown-list-item {
        width: 100%;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-radius: 0;
        justify-content: flex-start;

        svg {
          margin-right: 0.4rem;
        }
      }
    }

    &.show {
      display: block;
    }
  }
}
