@import '../../scss/variables';

.drawer-context-menu {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: $radius;
  box-shadow: $shadow;
  min-width: 250px;
  padding: 0.4rem 0 0.4rem 0;

  &.show {
    display: block;
  }

  .drawer-context-menu-list-item.drawer-button.drawer-button-neutral {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0;
    border: 0;
    padding: 0.25rem 1rem 0.25rem 1.25rem;

    &:is(:first-of-type) {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    &:is(:last-of-type) {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }

    &.active::before {
      position: absolute;
      left: 6px;
      margin-bottom: 1px;
      content: '✓';
    }

    &:hover {
      background-color: $bg-context-menu-item-hover;
      color: $bg-context-menu-item-hover-color;
    }

    .drawer-context-menu-item__label {
      margin-inline-end: 20px;
    }
    .drawer-context-menu-item__shortcut {
      opacity: 0.6;
      font-family: inherit;
      font-size: 0.7rem;
    }
  }
}
