.drawer-overlay-container {
    position: absolute;
    top: 5rem;
    left: 10px;
    flex-direction: column;
    min-width: 100px;
    width: fit-content;
    max-height: 70%;
    display: none;

    &.show {
        display: flex;
    }

    .overlay-title {
        font-size: .8rem;
        align-self: start;
        margin-bottom: .4rem;
    }
}
