.drawer-container {
  .drawer-toolbar-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .drawer-toolbar-root {
      width: fit-content;

      .drawer-button {
        margin: 0.2rem;
      }
    }
  }
}
