.drawer-container {
  .drawer-toolbar-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .drawer-toolbar-root {
      width: fit-content;

      .drawer-button {
        margin: 0.2rem;
        position: relative;

        .tool-key-shortcut {
          position: absolute;
          bottom: 0px;
          right: 3px;
          color: #b8b8b8;
        }

        &.active .tool-key-shortcut {
          // color: #000;
        }
      }
    }
  }
}
