@import './scss/variables';
@import './scss/reboot';

.drawer-container {
  font-family:
    Inter,
    -apple-system,
    'system-ui',
    Segoe UI,
    Noto Sans,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  position: relative;
  width: fit-content;
  outline: none;

  .tool {
    border-radius: $radius;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow;
    background-color: #fff;
  }

  .text-muted {
    opacity: $text-muted-opacity;
  }

  .drawer-button {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    border-radius: $radius;

    &.disabled {
      pointer-events: none;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background-color: $primary-hover;
    }

    &:focus {
      box-shadow: 0 0 3px $primary-hover;
    }

    &.active {
      background-color: $primary-active;
      color: $text-primary-active;
    }
  }

  .drawer-button-neutral {
    border: 1px solid $light;
    &:hover {
      background-color: $light;
    }

    &.active {
      background-color: darken($light, 5%);
      color: currentColor
    }
  }

  .drawer-button-danger {
    color: $text-danger;
    background-color: $danger;
    &:hover {
      background-color: $danger-hover;
    }
  }

  .drawer-link {
    text-decoration: none;
    color: $light-color;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    cursor: pointer;
    border: 1px solid $light;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    border-radius: $radius;
    background-color: $light;

    &.disabled {
      pointer-events: none;
    }

    &>svg {
      margin-left: .5rem;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background-color: $light-hover;
    }

    &:focus {
      box-shadow: 0 0 3px $light-hover;
    }
  }

  &:not(.is-full) .konvajs-content {
    width: fit-content;
    box-shadow: $shadow;
    border-radius: $radius;
    canvas {
      border-radius: $radius;
    }
  }
}
