@import './scss/variables';
@import './scss/reboot';

:root {
  --drawer-pointer-events: all;
}

* {
  box-sizing: border-box;
}

.drawer-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: fit-content;
  outline: none;

  .tool {
    border-radius: $radius;
    z-index: 1;
    box-shadow: $shadow;
    background-color: #fff;
    height: min-content;
  }

  .text-muted {
    opacity: $text-muted-opacity;
  }

  .drawer-button {
    pointer-events: var(--drawer-pointer-events);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    border-radius: $radius;
    user-select: none;
    padding: 0.625rem;
    width: $btn-size-lg;
    height: $btn-size-lg;
    box-sizing: border-box;
    background-color: $btn-bg;
    color: $btn-color;
    border: 0;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    &:not(.disabled):not(.active):not(.drawer-button-danger):not(.drawer-button-neutral):hover {
      background-color: $primary-hover;
    }

    &:focus {
      box-shadow: 0 0 3px $primary-hover;
    }

    &.active {
      background-color: $primary-active;
      color: $text-primary-active;
    }
  }

  .drawer-button-neutral {
    border: 1px solid $light;

    &:not(.disabled):hover {
      background-color: $light;
    }

    &.active {
      background-color: darken($light, 5%);
      color: currentColor;
    }
  }

  .drawer-button-danger {
    color: $text-danger;
    background-color: $danger;
    &:hover {
      background-color: $danger-hover;
    }
  }

  .drawer-link {
    text-decoration: none;
    color: $light-color;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    cursor: pointer;
    border: 1px solid $light;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    border-radius: $radius;
    background-color: $light;

    &.disabled {
      pointer-events: none;
    }

    & > svg {
      margin-left: 0.5rem;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background-color: $light-hover;
    }

    &:focus {
      box-shadow: 0 0 3px $light-hover;
    }
  }

  &:not(.is-full) .konvajs-content {
    width: fit-content;
    box-shadow: $shadow;
    border-radius: $radius;
    canvas {
      border-radius: $radius;
    }
  }

  .drawer-footer-container {
    pointer-events: none;
    position: absolute;
    bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    align-items: flex-end;
    justify-content: space-between;
    cursor: default;
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;

    .drawer-footer-left {
      display: flex;
      gap: 0.75rem;
      align-items: flex-end;
    }

    .drawer-toolbar-root {
      display: flex;
      justify-content: center;
    }

    .drawer-help-container {
      justify-self: flex-end;
    }
  }
}
