$radius: 5px;
$primary: #1e2e2e;
$primary-light: lighten($primary, 70%);
$text-primary: #cccccc;

$primary-active: #334d4d;
$text-primary-active: #cccccc;

$light: #eeeeee;

$shadow: 0 0 5px rgba(0, 0, 0, 0.4);
