$radius: 5px;
$primary: #646cff;
$primary-light: lighten($primary, 20%);
$text-primary: #cccccc;

$btn-bg: #fff;
$btn-color: #000;

$btn-size-default: 2rem;
$btn-size-lg: 2.45rem;

$bg-context-menu-item-hover: #4049f3;
$bg-context-menu-item-hover-color: #ececec;

$primary-hover: lighten($primary, 20%);
$primary-active: darken($primary, 2%);
$text-primary-active: #e0e0e0;

$bg-light: #f3f3f3;
$light: #eeeeee;
$light-hover: darken($light, 10%);
$light-color: #383838;

$danger: #bb4040;
$danger-hover: darken($danger, 5%);
$text-danger: #fefefe;

$text-muted-opacity: .5;

$shadow: 0 0 3px rgba(0, 0, 0, 0.4);
