@import 'variables';

.drawer-container {
  box-shadow: $shadow;
  width: fit-content;
  border-radius: $radius;
  .konvajs-content {
    canvas {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}
