@import 'variables';

.konvajs-content {
  box-shadow: $shadow;
  width: fit-content;
  border-radius: $radius;
  canvas {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}
